<h1>Square Root Results</h1>

Number
<div>
<%=params.fetch("user_number").to_f%>
<div>
Square
<div>
<%=params.fetch("user_number").to_f ** 0.5%>
<div>
<a href= "/sqrt/new">Calculate new square root</a>
