<form action="/payment/results">
<label for="form1">APR</label>
<input id = "form1" type="text" name="apr">
<div>
<label for="form2">Number of years</label>
<input id = "form2" type="text" name="numberofyears">
<div>
<label for="form3">Principal</label>
<input id = "form3" type="text" name="principal">
<div>
<button>Calculate monthly payment</button>
</form>
