<form action="/random/results">
<label for="form1">Minimum</label>
<input id = "form1" type="text" name="user_min">
<div>
<label for="form2">Maximum</label>
<input id = "form2" type="text" name="user_max">
<div>
<button>Pick Random Number </button>
</form>
